html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  background-color: white;

}

p {
  color: #545454;
}
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  border: 1px solid lightgray;
  height: auto;
}


a {
  text-decoration: none;
}

/* display: none; */

.siteHeader-sm,.siteHeader_section-sm,
.siteHeader_item-sm,.siteHeader_logo-sm,
.lsn_gray-sm,.lsn_gray_desc-sm,.button-sm,
.lsn_gray_desc-sm,.sec_sec-sm,.sec-sm,
.image-sm,.txt-sm,.start_learning-sm,
.thesis-main-sm, .tm-he-sm,.tm-vid-sm,
 .tm-foot-sm
 {
  display:none;
}


.siteHeader {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;



  /**
   * Make the container put as much space as possible
   * between its children, with the children at either
   * end laying flush against the container's edges.
   */
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  background-color: white;
  /* height: 64px; */

}

.siteHeader__section {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;

    /**
     * Align the children in the center, along
     * the main axis. By default the children will
     * align along their top edges.
     */
    align-items: center;
    justify-content: space-around;
  }

  .siteHeaderButton {
    margin: 16px;
  }
  .siteHeader_item.siteHeader_logo   {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .siteHeader_item.siteHeader_logo img {
    align-items: center;
  }

  #COLMAR {
    font-weight: bold;
  }
  #ACADEMY {
    font-weight: lighter;
  }

  /*  Learn something new everyday section */
 .lsn_gray {
   display: flex;
   flex-direction: row;
   background-color: lightgray;
   height: 700px;
   /* border: 3px solid red; */

 }

.col_row {
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

 .lsn_gray img {
  width: 100%;
   /* border: 1px solid yellow; */
   align-items: center;

 }

.lsn_gray_pic {
  display: flex;
  width: 60%;
  height: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
  /* border: 1px dashed blue; */

}

 .lsn_gray_desc {
   display: flex;
   flex-direction: column;
   /* border: 1px solid magenta; */
   justify-content: center;
   /* margin-right: 66px; */
   width: 40%;
   margin-top: 32px;
   margin-bottom: 32px;

 }
 .lsn_gray_desc .button {
   background-color: black;
   width:50%;
   color: white;
   padding-top: 8px;
   padding-bottom: 8px;
   text-align: center;
   align-self: flex-start;

 }

  /* end Learn something new everyday section */

  /* It does not hurt keep practicing */
 .sec_sec {
   display: flex;
   flex-direction: row;
   /* height: 900px; */
   height: auto;
   /* border: 1px solid red; */

 }
 .sec_col1 {
   display: flex;
   flex-direction: column;
   width: 60%;
   height: auto;
   /* border: 1px solid black; */
   margin-top: 32px;
   margin-bottom: 32px;
   margin-left: 24px;
   margin-right: 24px;

 }
 .sec_col1 img {
    height: auto;
    max-width:100%;
    margin-top: 16px;
    margin-bottom: 32px;


 }



 .sec_col2 {
   display: flex;
   flex-direction: column;
   width: 40%;
   height: auto;
   /* border: 1px solid black; */

   margin-top: 32px;
   margin-bottom: 32px;
 }

 .col_row {
   display: flex;
   flex-direction: row;

 }
 .row-txt {
   width: 65%;
   margin-left: 24px;
   margin-right: 24px;

 }

 .row-img {
   width: 35%;
   margin-top: 16px;
   margin-bottom: 16px;
   margin-left: 16px;
 }

 .row-img , .row-txt {
   /* border: 1px solid green; */
 }
.row-img img  {
  height: auto;
  max-width: 100%;
}
#last-row {
  background-color: lightgray;
}
  /* End It does not hurt keep practicing */

  /* Start Learning  */

  .start_learning {
    display: flex;
    flex-direction: column;
    background-color: lightgray;

  }
  .start_learning h1 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .sl-row {
    display: flex;
    flex-direction: row;
  }

  .col-sl {
    display: flex;
    flex-direction: column;
    background-color: white;
      margin: 16px 16px;
  }
.sl-main-container {
 display: flex;
 flex-direction: column;
 background-color: lightgray;
 padding-left: 72px;
 padding-right: 72px;
 /* padding-bottom: 32px; */

}
#sndrow {
  padding-bottom: 32px;
}
.img-sl img {
  height: auto;
  max-width: 100%;

}

  /*END Start Learning  */


  /* Theis */

  .thesis-main {
    display: flex;
    flex-direction: column;
  }

.thesis-main h1 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
    .main-thesis-cont {
      display: flex;
      flex-direction: row;

    }

 .mt-descr {
   margin-top: 24px;
   margin-bottom: 32px;
 }


    .mt-col1 {
      display: flex;
      flex-direction: column;
      width: 60%;
      height:auto;
      /* border: 1px solid black; */
      margin-right: 24px;
      margin-left: 24px;

    }
    .mt-col2 {
      display: flex;
      flex-direction: column;
    width: 40%;
    height: auto;
    /* border: 1px solid green; */

    }

    .mt-col1 video {
      height: auto;
      max-width: 100%;
    }

    .mt-col2-cont {
      display: flex;
      flex-direction: row;
    }

    .mt-col2-item1 {
      display: flex;
      flex-direction: row;
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 16px;

    }
    .mt-col2-item1 img {
      height: auto;
      max-width: 100%;
    }
    #mt-c-itm1-st {
      background-color: lightgray;
    }
    .view1 {
      width: 35%;
    }
    .text-view {
      width: 65%;
    }

  .text-view {
    margin-left: 16px;
  }
  /*END Thesis  */

  /* Footer */

  footer {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 32px;
    background-color: white;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding-top: 16px;
  }

  .footer_section2 {
    display: flex;
    margin-right: 0px;
    justify-content: space-around;
  }
  .siteFooterButton {
    margin: 16px;
  }

  #span1 {
    margin-top: 16px;
    margin-left: 24px;
  }



  /* END Footer */
